.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.App::before {
  content: "";
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.listGlasses {
  position: absolute;
  z-index: 3;
  bottom: 0.5rem;
  left: 12rem;
}

.model {
  width: 50%;
  position: absolute;
  left: 25rem;
  top: 7rem;
  z-index: 3;
}

.model img {
  width: 100%;
}

.image {
  width: 12%;
  position: absolute;
  z-index: 4;
  left: 30.5rem;
  top: 14rem;
}

.image img {
  width: 100%;
}

.info {
  position: relative;
  z-index: 5;
  left: 25rem;
  top: 26rem;
  background-color: rgba(225, 160, 81, 0.5);
  width: 355px;
  height: 127px;
  text-align: start;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  padding: 20px 0;
}